* {
  color: black;
}

.wrapper {
  display: inline-block;
  margin-left: 10px;
}

.bar {
  width: 10px;
  display: inline-block;
}

.progress {
  width: 10px;
  display: inline-block;
  margin-left: -10px;
}
