
body, html, #app {
    height: 100%;
}

* {
  color: black;
}

.flex {
  display: flex;
}

.wrapper {
  display: inline-block;
  margin-left: 10px;
}

.sprint {
  width: 45%;
  display: inline-block;
  margin-left: 2.5%;
}

.sprint-name {
  border-top: 1px solid;
  text-align: center;
  font-weight: bold;
}

.date {
  text-align: center;
}

.bar {
  width: 10px;
  display: inline-block;
}

.progress {
  width: 10px;
  display: inline-block;
  margin-left: -10px;
}

.card {
  background: white;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 5px;

  .title-month {
    text-align: center;
  }
}

.bg-login {
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0,0,0, 100)
  ),url('./img/bg.png');
  height: 100%;
  background-repeat: no-repeat, repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bx-form {
  background: #e8e8e8;
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;

  form {
    display: grid;
    justify-content: center;
  }
}

.input-style {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}

.wrapper-login {
  height: 100%;
  justify-content: center;
  display: grid;

  .title {
    justify-content: center;
    align-items: center;
    display: flex;

    span {
      font-size: 40px;
      font-weight: bold;
    }
  }
}

.style-form {
  span {
    margin: 10px 0px;
  }

  .btn-primary {
    color: #fff;
    background: #50a6f6;
    padding: 15px 10px;
    margin: 50px 0px;
    font-size: 20px;
  }
}

.error-message {
  text-align: center;
  color: red;
}
