* {
  color: black;
}
.home {
  display: flex;
}
.wrapper {
  display: inline-block;
  margin-left: 10px;
}

.bar {
  width: 10px;
  display: inline-block;
}

.progress {
  width: 10px;
  display: inline-block;
  margin-left: -10px;
}

.card {
  background: white;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 5px;

  .title-month{
    text-align: center;
  }
}
